p {

    color: blanchedalmond; 
    font-style: italic; 
    text-align: justify; 
    font-size: 50px; 
    padding-top: 25px; 
    background-color: black;

}

h2 {

    color: blue;
    font-weight: 500;
    background-color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0cap;
    
}

a {
    color: black;
    font-size: larger;
    padding-left: 500px;
}


body {

    background-color: crimson;
}